{{define "base"}}
<!DOCTYPE html>
<html>
	<head>
		{{template "title" .}}
		<link rel="stylesheet" href="/css/style.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1" /> 
		{{template "stylesheets" .}}
	</head>
	<body>
		<nav class="nav">
			<div class="column">
				<div class="navContents">
					<div>
						{{template "nav" .}}
					</div>
					<form action="/search" method="GET">
						<input name="q" id="searchBox" class="searchBox" type="search" placeholder="Search the wiki..." />
					</form>
				</div>
			</div>
		</nav>

		<div class="column">
			{{template "body" .}}
		</div>
		{{template "scripts" .}}
	</body>
</html>
{{end}}